:root {
    --primary-c: #005fb6;
    --primary-c-faded: #56acfc1a;
    --semi-transparent: #ffffff9f;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f8fb;
    color: #111;
    background: #DFE0DF;
    background: linear-gradient(134deg, rgb(246 246 246) 0%, rgb(233 239 243) 50%, #f9f9f9 100%);
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 5px;
}

#header img {
    height: 100%;
    width: auto;
}

#header .header_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--semi-transparent);
    height: 2rem;
    width: 2rem;
}

#header .header_btn#header_logo {
    width: fit-content;
}

#header .header_btn#back-btn:hover {
    cursor: pointer;
    background-color: #e9e9e99f;
}

#header .header_btn#back-btn img {
    height: 70%;
}


h1 {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 400;
}


.btn-1 {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: black;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #fdfdfd;
}

.btn-1 img {
    height: 1rem;
}